body {
    font-family: Arial, sans-serif;
    min-height: 100vh; /* Ensure the body is at least 100% of the viewport height */
    display: flex;
    flex-direction: column;
    margin: 0;
    background: #19181a;
}

header {
    background-color: #8E8D8A;
    padding: .5rem;
    width: 100rem;
}

.title {
    color: #E85A4f;
    margin-left: .5rem;
}

* {
    box-sizing: border-box; /* Ensures padding and borders are included in total width/height */
    overflow-x: hidden; /* Prevents horizontal scrolling caused by wide elements */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul form {
    display: inline;
    text-align: right;
    margin-right: 20px;
    color: #fff;
    margin-left: 58.8rem;
}


a:hover {
    color: inherit;  /* Keeps the same color even when hovered */
    text-decoration: none;  /* Ensures no underline appears on hover */
}

.movie-table {
    padding-left: 2rem;
    display: block;
    background: #EAE7DC;
    padding-bottom: 3.5rem;
}

.movie-table tr {
    margin-bottom: .5rem;
    flex: 1;
}

.movie-title, .release-date {
    border: none;
}

.release-date {
    color: #8E8D8A;
}

table {
    border-collapse: collapse; /* Removes the space between borders */
}

tr {
    border-bottom: 1px solid #a4a4a4; /* Light gray border under each row */
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #19181a;
    color: #E85A4f;
    bottom: 0;
    width: 100%;
  }
  footer a {
    color: #E85A4f;
    text-decoration: none;
  }
  footer a:hover {
    text-decoration: underline;
  }

